* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Arial", sans-serif;
  }
  
  body {
    height: 100vh;
    width: 100vw;
    display: grid;
    place-items: center;
  }
  
  nav {
    height: 70px;
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    align-items: center;
    padding: 2vw;
    font-size: small;
  }
  
  nav > * {
    margin: 5px;
    color: #333;
  }
  
  a {
    text-decoration: none;
  }
  
  nav img {
    height: 5vh;
    width: 5vh;
    background-color: #333;
    border-radius: 50%;
  }
  
  form {
    width: 47.5vw;
  }
  
  .main-logo {
    width: 100%;
    padding: 0 20% 5vh;
  }
  
  .search-input input {
    width: 100%;
    height: var(--input-height);
    border-radius: calc(var(--input-height) / 2);
    padding: 0 var(--input-height);
    border: 1px solid grey;
    font-size: 16px;

  }

  .icon {
      position: absolute;
      top: 25%;
      opacity: 0.35;
  }

  .mic-icon {
      right:20px;
      
  }